{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    {% endif  %}
    <form  method="post" class="login" @submit.prevent="login">
        <h1>Sign in</h1>
        <label>Email</label>
        <input required v-model="email"  name="username"  placeholder="Name"/>
        <label>Password</label>
        <input required v-model="password" type="password"  name="password"  placeholder="Password"/>
        <hr/>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button type="submit">Login</button>
    </form>


    <script>

        Vue.prototype.$http = axios;
        const token = localStorage.getItem('token')
        if (token) {
            Vue.prototype.$http.defaults.headers.common['Authorization'] = token
        }
    </script>
{% endblock %}
