<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Админка</title>
</head>
<body>
{%  if not conferences and not  comment %}
    Записей нет

    {% else %}

{% endif  %}
<a href="/new_conference">Создать новую конференцую </a>
<a href="/new_comment">Создать новый коментарий </a>
<button>

</button>
</body>
</html>