{% extends 'base.html.twig' %}
{% block title %}Conference Guestbook{% endblock %}
{% block body %}
    <h2>Give your feedback!</h2>
    <table >

    {% for conference in conferences %}
        <tr>
            <td>
        <h4>{{ conference.city }}</h4>
       </td>
            <td>
                <p>
             <a href="{{ path('conference', {id: conference.id }) }}">View</a>
             </p>
            </td>
        </tr>
        </table>
    {% endfor %}
{% endblock %}
